# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
build/
dist/

# Docker (если есть секреты)
.env

# OS
.DS_Store
Thumbs.db

# Игнорируем всё, что связано с terraform в любых подпапках
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.lock.hcl