name: 'Terraform Deploy'

on:
  push:
    branches: [ "main" ]

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-22.04 # Фиксированная версия
    
    env:
      # Распаковываем JSON-секрет прямо в переменные, которые понимает Terraform
      ARM_CLIENT_ID: ${{ fromJSON(secrets.AZURE_CREDENTIALS).clientId }}
      ARM_CLIENT_SECRET: ${{ fromJSON(secrets.AZURE_CREDENTIALS).clientSecret }}
      ARM_SUBSCRIPTION_ID: ${{ fromJSON(secrets.AZURE_CREDENTIALS).subscriptionId }}
      ARM_TENANT_ID: ${{ fromJSON(secrets.AZURE_CREDENTIALS).tenantId }}

    defaults:
      run:
        working-directory: ./terraform

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "1.7.0"

    - name: Terraform Init
      run: terraform init

    - name: Terraform Plan
      run: terraform plan

    - name: Terraform Apply
      run: terraform apply -auto-approve

    - name: Login to ACR
      run: |
        az acr login --name acrpetandrew4htc
      working-directory: . # Работаем из корня

    - name: Build and Push Docker Image
      run: |
        # Собираем образ. Точка в конце означает "текущая директория" (корень)
        docker build -t acrpetandrew4htc.azurecr.io/fastapi-app:${{ github.sha }} -f app/Dockerfile .
        
        # Пушим версию с хэшем
        docker push acrpetandrew4htc.azurecr.io/fastapi-app:${{ github.sha }}
        
        # Тегируем как latest и пушим
        docker tag acrpetandrew4htc.azurecr.io/fastapi-app:${{ github.sha }} acrpetandrew4htc.azurecr.io/fastapi-app:latest
        docker push acrpetandrew4htc.azurecr.io/fastapi-app:latest
      working-directory: . # Работаем из корня